## Ignore file
#

builds/**

run/IDE_FRL_debug.*
run/IDE_FRL_release.*
run/fw/ForisWrapperQt_debug.*
run/fw/ForisWrapperQt_release.*
run/stderr.txt
run/stdout.txt
run/fw/stderr.txt
run/fw/stdout.txt
run/fw/data/DOSBox/stderr.txt
run/fw/data/DOSBox/stdout.txt
run/fw/data/for_dos/c.lsp
run/fw/data/for_dos/sinchro/*
run/data/main_settings.json

ForisWrapperQt/msvc_make.bat
ForisWrapperQt/ForisWrapperQt.pro.user
IDE_FRL/msvc_make.bat
IDE_FRL/IDE_FRL.pro.user

run/my_build_all.bat
