## Ignore file
#
builds/**

ForisWrapperQt/msvc_make.bat
IDE_FRL/msvc_make.bat
run/IDE_FRL.*
run/fw/ForisWrapperQt.*
run/stderr.txt
run/stdout.txt
run/fw/ForisWrapperQt.*
run/fw/stderr.txt
run/fw/stdout.txt

